@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(113.1deg, rgb(254, 140, 48) 14%, rgb(253, 75, 101) 80.5%, rgb(255, 53, 109) 100.6%);
    color: #FFF;

    font-family: Manrope, sans-serif;

    min-height: 100svh;
    margin: 0;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: 600;
    font-size: 18px;
}

.dropdown {
    font-size: 16px;

    width: 100%;

    padding: 8px;
    border-radius: 5px;
}

button {
    all: unset;
    background: #101010;
    padding: 10px 16px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}


.inputs {
    display: flex;
    gap: 12px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

input {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
}

.response {
    font-size: 32px;
    text-align: center;
    max-width: 50%;
    min-width: 280px;
}

mark {
    font-weight: 700;
    background: transparent;
    color: white;
}

@media (max-width: 700px) {
    .dropdown-container, .input-container {
        width: 280px;
    }

    label {
        font-size: 16px;
    }

    .dropdown, input {
        font-size: 14px;
    }

    .inputs {
        flex-direction: column;
    }
}